# Ignore all files
/*

# Add .gitignore to git
!/.gitignore
!/.zprofile
!/.irbrc
!/.pryrc

!/.config
/.config/*
!/.config/git
/.config/git/*
!/.config/git/ignore
!/.config/git/config
!/.config/nvim

!/.vscode-setup
!/.shell-init
!/README.md
!/.ruby-version
!/.zshrc
